* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: UbuntuMono Nerd Font;
    font-size: 18px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    color: black;
    background: #ffffff 
}
